@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

q{
	font-style: italic;
}

q b{
	font-style: normal;
}

header{
	font-variant: small-caps;
	margin-top: 3em;
}

[epub|type~="se:era"],
[epub|type~="se:temperature"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:subchapter"] hgroup,
[epub|type~="z3998:subchapter"] header{
	break-after: avoid;
}
