@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

[epub|type~="z3998:acronym"],
[epub|type~="se:temperature"]{
	font-variant: all-small-caps;
}
